{% extends 'base_1.html.twig' %}

{%  block main %}

{#    <table>#}
{#        <tr>#}
{#            <th>id</th><th>Purpose</th>#}
{#        </tr>#}
{#        {% if results|length > 0%}#}
{#            {% for item in results %}#}
{#                <tr>#}
{#                    <td>{{ item.getId }}</td><td>{{ item.getDescription }}</td><td><a href="{{ path('add_goal', {'id': item.getId}) }}"><button class="btn" >Add Goal</button></a></td>#}
{#                </tr>#}
{#            {% endfor %}#}
{#        {% else %}#}
{#            <tr>#}
{#                <td colspan="2">No matching results found!</td>#}
{#            </tr>#}
{#        {% endif %}#}
{#    </table>#}
    {% if purpose != null %}
    <h2>My Purpose is</h2>
    <div class="card-deck" id="purpose-dashboard">
        <div class="card">
            {#                    <img src="https://hatrabbits.com/wp-content/uploads/2017/01/random.jpg" class="card-img-top" alt="...">#}
            <div class="card-body">
                <h5 class="card-title">{{ purpose.description }}</h5>
                <a href="{{ path('edit_purpose', {'id': purpose.getId}) }}"><button class="btn btn-primary" >Rephrase Purpose</button></a>
                <a href="{{ path('add_purpose') }}"><button class="btn btn-success">Add a new Purpose</button></a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
    <br>
    {% else %}
        <h2>You don't have a purpose. Please add it!</h2>
        <a href="{{ path('add_purpose') }}"><button class="btn btn-success">Add here!</button><a>
        <br>
    {% endif %}


    <h2>Your Previous Purposes</h2>
    <br>
    {% set r = results|batch(3) %}
    {#    {{ dump(r) }}#}

    {% for atom in r %}

        {# Set class using the loop index from outer loop #}
        {% set panelClass = 'panel--' ~ loop.index %}

        {#        <div class="panel {{ panelClass }}">#}
        <div class="card-deck">
            {% for entry in atom %}
                <div class="card">
                    {#                    <img src="https://hatrabbits.com/wp-content/uploads/2017/01/random.jpg" class="card-img-top" alt="...">#}
                    <div class="card-body">
{#                        <h5 class="card-title">{{ entry.name }}</h5>#}
                        <h5 class="card-text"> {{  entry.description }} </h5>
{#                        <a href="{{ path('add_goal', {'id': entry.getId}) }}">#}
{#                            <button class="btn" >Add Goal</button></a>#}
{#                        <p class="card-text"> {{  entry.purpose.description }} </p>#}
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                        {#                        <small class="text-muted">Last updated {{ entry.startDate }}</small>#}
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
    {% endfor %}

{%  endblock %}


{#<a href="{{ path('delete_route_name', {'id': entity.id }) }}">Delete</a>#}